<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Invoice</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>

            <th>Product number</th>
            <th>product name</th>
            
            <th>Product quantity</th>
            <th>Product price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr >

   
           

            <td>12</td>
            <td>T-shirt619</td>
            <td>1</td>
            <td>40</td>
           
            
            

            <td><button  class="btn btn-danger">Delete</button>
                <button  class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
          <tr >

   
           

            <td>13</td>
            <td>shoes619</td>
            <td>1</td>
            <td>60</td>
           
            
            

            <td><button  class="btn btn-danger">Delete</button>
                <button  class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
 
        

<div class="container">
    <div class="row">
            <form (ngSubmit)="saveInvoice()" #f="ngForm">


                    <div class="form-group">
                            <input type="text" name="Invoice Date" [(ngModel)]="invoice.invoiceDate" placeholder="Enter Invoice Date" 
                            class="form-control col-md-12" required ngModel #a="ngModel" pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$" />
                    </div>

                    <br/>
                    <div class="alert alert-danger" *ngIf="a.invalid && a.touched">
                         invalid date
                    </div>
                    <br/>
                    
                    <div class="form-group">
                        <select name="Payment mode" 
                                [(ngModel)]="invoice.paymentMode" placeholder="Enter Payment mode"
                                
                                class="form-control">
                            <option>A la livraison</option>
                            <option>En ligne</option>
                        </select>
                    </div>
                    <br/>
            

                    <div class="form-group">
                        <input type="number" name="Total amount excl tax" [(ngModel)]="invoice.totalHT" placeholder="Enter Total amount excl tax" 
                        class="form-control col-md-12" required ngModel #c="ngModel" />
                    </div>

                    <br/>
                    <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
                        Total amount excl tax invalid
                    </div>

                    <br/>
                    <div class="form-group">
                        <input type="number" name="tax" [(ngModel)]="invoice.tva" placeholder="Enter tax" 
                        class="form-control col-md-12" required ngModel #c="ngModel" />
                    </div>

                    <br/>
                    <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
                        Tax invalid
                    </div>
                    <br/>
                    <div class="form-group">
                        <input type="number" name="Discount" [(ngModel)]="invoice.discount"
                        placeholder="Enter Discount" class="form-control col-md-12 " required ngModel #c="ngModel"/>
                    </div>
                    <br/>
                    <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
                        Discount invalid
                    </div>
                    <br/>
                    
                    <div class="form-group">
                        <input type="number" name="delivery fee" [(ngModel)]="invoice.deliveryFee"
                        placeholder="Enter delivery fee" class="form-control col-md-12 " required ngModel #c="ngModel"/>
                    </div>
                    <br/>
                    <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
                        Delivery fee invalid
                    </div>

                    <br/>


                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid" >Add Invoice</button>
                    <button *ngIf="invoice.id" (click)="deleteInvoice(invoice.id)" class="btn btn-danger">Delete</button>
                   
            </form>
    </div>
</div>