<div class="row">
    <div class="col-md-4">
        <input type="text"
            [(ngModel)]="filters.keyword"
            name="keyword"
            (input)="listStocks()" 
            class="form-control"
            placeholder="Filter stock"/>
    </div>
    <div class="col-md-4">
        <select name="sortBy" 
                [(ngModel)]="filters.sortBy" 
                (change)="listStocks()"
                class="form-control">
            <option>Stock name</option>
            <option>Id number</option>
        </select>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary text-light" routerLink="/stock/add">Add Stock</a>
    </div>
</div><br>




<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Stock List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Stock number</th>
            <th>Product quantity</th>
            <th>Stock name</th>
            <th>Stock category</th>
            <th>Stock Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">

   
           

            <td>{{stock.id}}</td>
            <td>{{stock.productNumber}}</td>
            <td>{{stock.stockName}}</td>
            <td>{{stock.stockCategory}}</td>
            <td>{{stock.stockType}}</td>
            
            
            

            <td><button (click)="deleteStock(stock.id)" class="btn btn-danger">Delete</button>
                <button routerLink="/stock/update/{{stock.id}}" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>





